* {
    user-select: none; 
}

body {
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #EEE7DA;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
    margin-top: 50px; 
    margin-bottom: 20px;
    overflow-y: auto;
    height: calc(100vh - 100px);
  }